*,*::after,*::before {
    box-sizing: border-box;
} 

:root {
    --cell-size:100px; /*Declare variable*/
    --mark-size: calc(var(--cell-size)*0.9); /*Set size of letter to 90% of cell*/
}

body {
    margin:0;
    background-color: lightgray;
} 

.title {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
} 
.game{
    font-size: 5rem;
}
.name{
    font-size: 2rem;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto); /* Set grid to 3x3 */
} 

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
} 

/*Remove outer cell borders*/
.cell:first-child, 
.cell:nth-child(2), 
.cell:nth-child(3) {
    border-top: none;
} 
.cell:nth-child(3), 
.cell:nth-child(6), 
.cell:nth-child(9) {
    border-right: none;
}
.cell:nth-child(7), 
.cell:nth-child(8), 
.cell:nth-child(9) {
    border-bottom: none;
}
.cell:first-child, 
.cell:nth-child(4), 
.cell:nth-child(7) {
    border-left: none;
}   
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: black;
}

.cell.circle::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after, 
.board.circle .cell:not(.x):not(.circle):hover::before{
    background-color: gray;
}


/*X value */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, /*Hover for when cell no x or circle*/
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    width: calc(var(--mark-size)*0.15);
    height: var(--mark-size);
}
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
} 

/*Circle value*/
.cell.circle::before,
.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::before, /*Hover for when cell no x or circle*/
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before { /*Outer circle*/
    width: var(--mark-size);
    height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after { /*Inner circle*/
    width: calc(var(--mark-size)*0.7);
    height: calc(var(--mark-size)*0.7);
    background-color: lightgray;
}  

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button {
    font-size: 3rem;
    background-color: white;
    border: 1 solid black;
    padding: 0.25em 0.5em;
    cursor: pointer;
} 
.winning-message button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

.winning-message.show {
    display: flex;
}
